:root {
  --text-color: #757575;
  --text-title-color: #212121;
  --footer-nav-color: rgba(255, 255, 255, 0.6);
  --heder-logo-s-color: #000000;
  --text-color-white: #ffffff;
  --accent-background-color-button: #188ce8;
  --accent-text-color: #2196f3;
  --margin-left-section-main: 30px;
}

body {
  margin: 0;

  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
  font-style: sans-serif;
  font-weight: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  display: none;
}

.header-logo:hover,
.header-logo:focus {
  color: var(--accent-background-color-button);
}
.pre-pre-nav:hover,
.pre-pre-nav:focus {
  color: var(--accent-background-color-button);
  cursor: pointer;
}
.pre-button:hover,
.pre-button:focus {
  background-color: var(--accent-background-color-button);
  color: var(--text-color-white);
  cursor: pointer;
}
.pre-nav:hover,
.pre-nav:focus {
  color: var(--accent-text-color);
}

/*-------------header-----------*/
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-contakt {
  display: flex;
  margin-left: auto;
}

.header-logo {
  display: inline-block;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--heder-logo-s-color);
}

.header-logo-w {
  color: var(--accent-text-color);
}

.header-nav,
.header-contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title-color);
}

.header-contakt-mailto {
  margin-right: 50px;
}
.header-contakt-tel,
.header-contakt-mailto {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;
}

.header-heading {
}

.heading {
  background: #2f303a;

  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heading/developed.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.heading-title {
  margin: 0 auto 30px auto;
  max-width: 650px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
}

.heading-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-white);
  background-color: #2196f3;
}

/*---------------main--------------------*/
.main-feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
  margin-bottom: 10px;
}
.main-feature-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-feature-ul > .main-feature-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}
.main-box {
  padding-bottom: 94px;
}
.main-box-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-box-ul > .main-box-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}
.main-team {
  background-color: #f5f4fa;
}

.main-team-li {
  background-color: var(--text-color-white);
}
.main-team-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-team-ul > .main-team-li {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: var(--margin-left-section-main);
}

.pre-text {
  font-size: 14px;
  line-height: 1.71;
}
.pre-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-title-color);
  text-align: center;
  margin-bottom: 50px;
}
.pre {
  margin-bottom: 10px;
  text-align: center;
}
.main-team-ul-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.main-team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 30px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.img-team {
  margin-bottom: 30px;
}
/*------------------footer-----------------*/
.footer {
  display: flex;
}
.footer {
  background: #2f303a;
}
.footer-logo {
  display: inline-block;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--text-color-white);
  padding-top: 60px;
  margin-bottom: 20px;
}
.footer-logo-w {
  color: var(--accent-text-color);
}
.footer-contakt-address {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--text-color-white);
}
.footer-contakt-ul {
  display: inline-block;
  padding-bottom: 60px;
}
.footer-contakt-mailto,
.footer-contakt-tel {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
}
/*-----------------------Portfolio-------------------------*/
/*---------------Header---------------*/
.portfolio-header-nav-link {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title-color);
}

.portfolio-header-contakt-mailto,
.portfolio-header-contakt-tel {
  color: var(--text-color);
}
.portfolio-header-contakt-mailto {
  display: inline-block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio-header-contakt-tel {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/*--------------Button-------------*/
.main-filters {
  display: flex;
}

.filters-ul {
  display: flex;
  justify-content: center;
}
.pre-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
}
.portfolio-button-b {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;
  border-radius: 4px;

  color: var(--text-color-white);
  background-color: var(--accent-text-color);
}
.portfolio-button {
  display: inline-block;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;

  color: var(--text-title-color);
  background: #f5f4fa;
  border-radius: 4px;
}
/*-----------Main--------------*/

.main-projects-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-section-main));
}
.main-projects-li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--margin-left-section-main);
}

.projects-border {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.main-project-ul-title {
  margin: 20px 24px 4px 24px;
  text-align: left;

  font-size: 18px;
  line-height: 2;
}

.main-project-text {
  margin: 0px 24px 20px 24px;
  text-align: left;

  font-size: 16px;
  line-height: 1.87;
}

/*----------container-----------------*/
p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
